In [1]:
from sklearn.impute import SimpleImputer
import numpy as np
import pandas as pd

In [5]:
a = np.array([[10, 200, 0.3],
              [9, np.nan, 0.1],
              [8, 240, np.nan],
              [9.5, 225, 0.45]])
pa = pd.DataFrame(a, columns=['X1', 'X2', 'X3'])
print("Means:\n", pa.mean())

Means:
 X1      9.125000
X2    221.666667
X3      0.283333
dtype: float64

In [10]:
imputer = SimpleImputer().set_output(transform='pandas')
imputer.fit(pa) # computes mean or median
print(imputer.statistics_)

[  9.125      221.66666667   0.28333333]

In [11]:
imputer.transform(pa)

     X1          X2        X3
0  10.0  200.000000  0.300000
1   9.0  221.666667  0.100000
2   8.0  240.000000  0.283333
3   9.5  225.000000  0.450000